body{
				width: 100%;
				height: 100vh;
				background: linear-gradient(-45deg, #eb5d31, #e84dbf, #11bbf7, #0cc99d);
				background-size: 400% 400%;
				position: relative;
				animation: change 10s ease-in-out infinite;
}
@keyframes change{
				0%{
								background-position: 0 50%;
				}
				50%{
								background-position: 100% 50%;
				}
				100%{
								background-position: 0 50%;
				}
}
.container{
				position: absolute;
       top: 25%;
       left: 50%;
       transform: translate(-50%, -25%);
       width: 700px;
       height: auto;
       background-color: #fff;
       border-radius: 10px;
}
.container h1{
				text-align: center;
}
span.texto{
				font-size: <?php echo $tamanho; ?>;
				color: <?php echo $cor; ?>;
}

/*Rodapé*/
.rodape h6{
				text-align: center;
}
.rodape{
				text-align: center;
}
.rodape a{
				text-align: center;
				text-decoration: none;
				color: #0fb519;
				border-width: 1px;
				border-style: solid;
				border-color: #0fb519;
				border-radius: 3px;
				width: 10px;
				margin: 2px;
}

